{{ $scratch := newScratch }}
{{ $resize := .resize | default "true" }}

<span>
  <table class="image-group">
    <tr>
      {{ range $index, $elem_val := .images }}
      {{ $src := $elem_val}}
      {{ $fileName := index (last 1 (split $src "/")) 0 }}
      {{ $imageName := index (split $fileName ".") 0 }}
      {{ $alt := (T $imageName)}}
      {{ $original := resources.Get $src }}

      {{ if lt $index 5 }}
      {{ $rowcount := "" }}
      {{ if eq $resize "true" }}
      {{ if eq $index 0 }}
      {{ $rowcount = "2" }}
      {{ $scratch.Set "resized" ($original.Resize "320x") }}
      {{ else }}
      {{ $rowcount = "1" }}
      {{ $scratch.Set "resized" ($original.Resize "155x") }}
      {{ end}}
      {{ else }}
      {{ $scratch.Set "resized" ($original.Resize "x320") }}
      {{ end }}

      {{ if eq $index 3 }}
    </tr>
    <tr>
      {{ end }}

      <td rowspan="{{ $rowcount }}" colspan="{{ $rowcount }}">
        <a class="spotlight" href="{{ $original.RelPermalink | relURL }}">
          <img alt="{{ $alt }}" src="{{ ($scratch.Get "resized").RelPermalink }}">
        </a>
      </td>
      {{ else }}
      <td>
        <a class="spotlight hidden-image" href="{{ $original.RelPermalink | relURL }}"></a>
      </td>
      {{ end }}
      {{ end }}
    </tr>
  </table>
</span>
