{{ $scratch := newScratch }}
<span>
  <table class="image-group">
    <tr>
      {{ range $index, $elem_val := .images }}
      {{ $src := $elem_val}}
      {{ $fileName := index (last 1 (split $src "/")) 0 }}
      {{ $imageName := index (split $fileName ".") 0 }}
      {{ $alt := (T $imageName)}}
      {{ $original := resources.Get $src }}

      {{ if lt $index 5 }}
      {{ $rowcount := "" }}
      {{ if eq $index 0 }}
      {{ $rowcount = "2" }}
      {{ $scratch.Set "resized" ($original.Resize "320x") }}
      {{ else }}
      {{ $rowcount = "1" }}
      {{ $scratch.Set "resized" ($original.Resize "155x") }}
      {{ end}}

      {{ if eq $index 3 }}
    </tr>
    <tr>
      {{ end }}

      <td rowspan="{{ $rowcount }}" colspan="{{ $rowcount }}">
	<a class="spotlight thumb-link" href="{{ $original.RelPermalink | relURL }}">
	  <img alt="{{ $alt }}" src="{{ ($scratch.Get "resized").RelPermalink }}">
	</a>
      </td>
      {{ else }}
      <a class="spotlight thumb-link" href="{{ $original.RelPermalink | relURL }}">txt</a>
      {{ end }}
      {{ end }}
    </tr>
  </table>
</span>
