{{ define "main" }}
<article>
  <h1> {{ .Site.Title }} </h1>
  <section>

    {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_0065.jpg" "photos/IMG_0057.jpg" "photos/IMG_0058.jpg" "photos/IMG_0059.jpg" "photos/IMG_0060.jpg")) }}

    <!-- <img class="homepage-icon" src="/photos/IMG_0065.jpg" /> -->
  </section>
  <span class="icon-span">
    <a onclick="makeVisible('full-home-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/full_home_1.png"/>
        <div>{{ T "full_home_1" }}<br>{{ T "full_home_2" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('bedrooms-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/bedrooms.png"/>
        <div>{{ T "bedrooms" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('kitchen-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/kitchen_2.png"/>
        <div>{{ T "kitchen" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('pool-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/pool_1.png"/>
        <div>{{ T "pool" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('garden-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/garden.png"/>
        <div>{{ T "garden" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('location-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/castle.png"/>
        <div>{{ T "location" }}</div>
      </span>
    </a>
    <span class="inner-span">
      <img class="perk" src="/icons/cooling_heating_1.png"/>
      <div>{{ T "heating" }}</div>
    </span>
    <span class="inner-span">
      <img class="perk" src="/icons/wifi_1.png"/>
      <div>{{ T "wifi" }}</div>
    </span>
    <span class="inner-span">
      <img class="perk" src="/icons/tv_1.png"/>
      <div>{{ T "tv" }}</div>
    </span>
    <span class="inner-span">
      <img class="perk" src="/icons/parking.png"/>
      <div>{{ T "parking" }}</div>
    </span>
  </span>

  <div id="full-home-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_0065.jpg" "photos/IMG_0057.jpg" "photos/IMG_0058.jpg" "photos/IMG_0059.jpg" "photos/IMG_0060.jpg")) }}
      This is some text about the house, so cool!!
    </div>
  </div>

  <div id="bedrooms-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_3633.jpg" "photos/IMG_3642.jpg" "photos/IMG_3641.jpg" "photos/IMG_3640.jpg" "photos/IMG_3639.jpg")) }}
    </div>
  </div>

  <div id="location-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1-zFl8ZMqNSHIgyiBrP__meYnFoikgrIw" height="480"></iframe>
    </div>
  </div>

</article>
{{ end }}
