{{ define "main" }}
<article>
  <h1> {{ .Site.Title }} </h1>
  <h2> {{ T "subheader" }} </h2>
  <section>
    {{ partial "spotlight-group.html" (dict "resize" "False" "images" (slice "photos/IMG_0033.jpg" "photos/IMG_5545.jpg")) }}
  </section>
  <span class="icon-span">
    <a onclick="makeVisible('house-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/full_home_1.png"/>
        <div>{{ T "full_home_1" }}<br>{{ T "full_home_2" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('bedrooms-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/bedrooms.png"/>
        <div>{{ T "bedrooms" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('kitchen-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/kitchen_2.png"/>
        <div>{{ T "kitchen" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('pool-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/pool_1.png"/>
        <div>{{ T "pool" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('garden-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/garden.png"/>
        <div>{{ T "garden" }}</div>
      </span>
    </a>
    <a onclick="makeVisible('location-modal')" class="inner-span">
      <span>
        <img class="perk" src="/icons/castle.png"/>
        <div>{{ T "location" }}</div>
      </span>
    </a>
    <span class="inner-span">
      <img class="perk" src="/icons/cooling_heating_1.png"/>
      <div>{{ T "heating" }}</div>
    </span>
    <span class="inner-span">
      <img class="perk" src="/icons/wifi_1.png"/>
      <div>{{ T "wifi" }}</div>
    </span>
    <span class="inner-span">
      <img class="perk" src="/icons/tv_1.png"/>
      <div>{{ T "tv" }}</div>
    </span>
    <span class="inner-span">
      <img class="perk" src="/icons/parking.png"/>
      <div>{{ T "parking" }}</div>
    </span>
  </span>

  <div id="house-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "resize" "False" "images" (slice "photos/IMG_5468.jpg" "photos/IMG_0192.jpg" "photos/IMG_0125.jpg")) }}
      <div class="modal-subtext"> {{ T "house_modal"  | safeHTML }} </div>
    </div>
  </div>

  <div id="bedrooms-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_0040.jpg" "photos/IMG_0044.jpg" "photos/IMG_0038.jpg" "photos/IMG_0124.jpg" "photos/IMG_0037.jpg" "photos/IMG_3640.jpg" "photos/IMG_3639.jpg" "photos/IMG_0036.jpg" )) }}
      <div class="modal-subtext"> {{ T "bedrooms_modal" | safeHTML }} </div>
    </div>
  </div>

  <div id="kitchen-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_0197.jpg" "photos/IMG_0190.jpg" "photos/IMG_0188.jpg" "photos/IMG_0123.jpg" "photos/IMG_0189.jpg")) }}
      <div class="modal-subtext"> {{ T "kitchen_modal" | safeHTML }} </div>
    </div>
  </div>

  <div id="pool-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_0071.jpg" "photos/IMG_4160.jpg" ) "resize" "False") }}
      <div class="modal-subtext"> {{ T "pool_modal"  | safeHTML }} </div>
    </div>
  </div>

  <div id="garden-modal" class="modal-window">
    <div>
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      {{ partial "spotlight-group.html" (dict "images" (slice "photos/IMG_0057.jpg" "photos/IMG_0058.jpg" "photos/IMG_0030.jpg" "photos/IMG_0061.jpg" "photos/IMG_0070.jpg" "photos/IMG_5732.jpg" "photos/IMG_0063.jpg" "photos/IMG_0062.jpg" "photos/IMG_0119.jpg" "photos/IMG_0122.jpg" "photos/IMG_0065.jpg" "photos/IMG_0057.jpg" "photos/IMG_0058.jpg" "photos/IMG_0060.jpg")) }}
      <div class="modal-subtext"> {{ T "garden_modal" | safeHTML }} </div>
    </div>
  </div>

  <div id="location-modal" class="modal-window">
    <div class="maps-iframe-div">
      <a class="close-button"  onclick="makeInvisible()">Close</a>
      <iframe class="maps-iframe" src="https://www.google.com/maps/d/u/1/embed?mid=1-zFl8ZMqNSHIgyiBrP__meYnFoikgrIw"></iframe>
      <div class="modal-subtext"> {{ T "location_modal" | safeHTML }} </div>
    </div>
  </div>

</article>
{{ end }}
