@import "chroma_friendly";
@import "_include_media";
@import "settings";
@import "_components/base";
@import "_components/content";
@import "_components/elements";
@import "_components/footer";
@import "_components/homepage";
@import "_components/navbar";

.icon-span {
    display: flex;
    justify-content: center;
}
.icon-span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .inner-span {
	display: table-cell;
	box-shadow: 2px 2px grey;
	border: 1px;
	border-style: solid;
	border-color: lightgray;
	margin: 2px;
	border-radius: 5%;
	min-height: 10rem;

	width: $icon-width;
	@include media('<desktop') {
	    width: $icon-width-mobile;
	}
    }
    .perk {
	height: $perk-icon-height;
	margin: 1rem;
    }
}

.icon-span {
    a {
	text-decoration: $links-style;
	@include media('nohover') {
	    text-decoration: $links-style-mobile;
	}
    }
    a:hover, a:focus {
	text-decoration: underline;
	cursor: pointer;
    }
}

.modal-window {
    background-color: rgba(255, 255, 255, 0.5);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.visible {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
    }
    &>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background: #ffffff;
	@include media('<desktop') {
	    width: 95%;
	}
    }
    .close-button {
	border: 1px;
	border-color: black;
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 70px;
	text-decoration: none;
	&:hover {
	    color: black;
	}
    }
}

.image-group {
    text-align: center;
    border-collapse: collapse;
    margin: 5px;

    img {
	margin: 0;
	padding: 0;
	width: 95%;
    }

    td {
	margin: 0px;
	padding: 0px;
	border: 0px;
    }

}
