@import "chroma_friendly";
@import "settings";
@import "_components/base";
@import "_components/content";
@import "_components/elements";
@import "_components/footer";
@import "_components/homepage";
@import "_components/navbar";

.icon-span {
    display: flex;
    justify-content: center;
}
.icon-span {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .inner-span {
	display: table-cell;
	box-shadow: 2px 2px grey;
	border: 1px;
	border-style: solid;
	border-color: lightgray;
	margin: 2px;
	border-radius: 5%;
	width: 20rem;
	min-height: 10rem;
    }
    .perk {
	height: $perk-icon-height;
	margin: 1rem;
    }
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
